.DS_Store
Thumbs.db

.vscode/
.idea/

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.pnpm-store/
node_modules/
**/node_modules/

.wrangler/
**/.wrangler/

dist/
build/
coverage/
*.tsbuildinfo

.env
.env.*
!.env.example

worker/.dev.vars
